body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}
p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}
ul {
    list-style: disc;
    margin-left: 20px;
}
img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}
img{
    width: 30%;
    height: 30%;
    display:block;
}
a{
    background-image: url('semmi.png');
    height: 55px;
    width: 70px;
 }
 
img:a:hover {
    background-image: url('semmi2.png');
    height: 55px;
    width: 70px;
 }